html, body, div, section, header, article,footer, p, h1, h2, h3, h4, h5, figure, img, ul, ol, li{
    padding: 0;
    margin: 0;
}

img{
    width: 100%;
    height: auto;
    object-fit: contain;
}