@import url("https://fonts.googleapis.com/css2?family=BIZ+UDGothic&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Work+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Play&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Spinnaker&display=swap");
html,
body,
h1,
img {
  margin: 0;
  padding: 0;
}

html,
body {
  color: #e0d7ca;
  background-color: #060707;
  font-size: 25px;
  font-family: 'Noto Sans';
}

p {
  letter-spacing: .14em;
  line-height: 1.5em;
  font-family: 'Work Sans', 'BIZ UDGothic';
}

a {
  color: #3da561;
}

img {
  width: 100%;
  height: auto;
}

section {
  width: 80%;
  margin: 0 auto;
}

#gnav {
  position: fixed;
  font-family: 'Spinnaker';
  top: 0;
  left: 0;
  width: 100%;
  background-color: #27352C;
  z-index: 10;
}

#gnav a {
  color: inherit;
  text-decoration: none;
}

#gnav li {
  list-style: none;
}

#gnav .pc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#gnav .pc .company-name a,
#gnav .pc ul a {
  -webkit-transition: background-color .15s;
  transition: background-color .15s;
}

#gnav .pc ul a:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

#gnav .pc .company-name {
  margin: 0 0 0 1.5em;
}

#gnav .pc .navi {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 1.5em 0 0;
}

#gnav .pc ul {
  margin: 0;
  padding: .3em 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1em;
}

#gnav .pc ul li {
  margin: .5em 1em;
  list-style: none;
}

#gnav .mobile-gnav {
  display: none;
  width: 100%;
}

#gnav .mobile-gnav .navi {
  display: none;
}

#gnav .mobile-gnav .navi.active {
  display: block;
}

#gnav .mobile-gnav ul {
  margin: 0;
  padding: 0;
}

#gnav .mobile-gnav ul li {
  margin: 0;
  padding: .5em;
  text-align: center;
}

#gnav .mobile-gnav ul a:nth-child(1) li {
  border-top: 1px solid #777;
}

#gnav .mobile-gnav ul a:nth-child(odd) li {
  background-color: #3a443d;
}

#gnav .mobile-gnav .humburger-menu {
  margin: .5em;
  position: relative;
  background: transparent;
  cursor: pointer;
  width: 50px;
  height: 50px;
  border: 1px solid #aaa;
  border-radius: 5px;
}

#gnav .mobile-gnav .humburger-menu span {
  display: inline-block;
  -webkit-transition: all .4s;
  transition: all .4s;
  position: absolute;
  left: 14px;
  height: 3px;
  border-radius: 2px;
  background: #fff;
  width: 45%;
}

#gnav .mobile-gnav .humburger-menu span:nth-of-type(1) {
  top: 15px;
}

#gnav .mobile-gnav .humburger-menu span:nth-of-type(2) {
  top: 23px;
}

#gnav .mobile-gnav .humburger-menu span:nth-of-type(3) {
  top: 31px;
}

#gnav .mobile-gnav .humburger-menu.active span:nth-of-type(1) {
  top: 18px;
  left: 18px;
  -webkit-transform: translateY(6px) rotate(-45deg);
          transform: translateY(6px) rotate(-45deg);
  width: 30%;
}

#gnav .mobile-gnav .humburger-menu.active span:nth-of-type(2) {
  opacity: 0;
}

#gnav .mobile-gnav .humburger-menu.active span:nth-of-type(3) {
  top: 30px;
  left: 18px;
  -webkit-transform: translateY(-6px) rotate(45deg);
          transform: translateY(-6px) rotate(45deg);
  width: 30%;
}

#bar h2 {
  text-align: center;
  font-size: 2.3em;
  margin: 0 5%;
  padding: 3em 0 3em 0;
  width: 90%;
}

#bar h2 {
  position: relative;
  display: inline-block;
}

#bar h2:before,
#bar h2:after {
  content: '';
  position: absolute;
  top: 50%;
  display: inline-block;
  width: 2em;
  height: 2px;
  background-color: white;
  -webkit-transform: rotate(-60deg);
  transform: rotate(-60deg);
}

#bar h2:before {
  left: -1em;
}

#bar h2:after {
  right: -1em;
}

#bar header {
  position: relative;
  background-color: black;
  background-image: url(../img/atrangel-pic1.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 30em;
}

#bar header h1 {
  position: absolute;
  bottom: .1em;
  right: .75em;
  font-size: 4em;
  -webkit-filter: drop-shadow(0.1em 0.1em 2px black);
          filter: drop-shadow(0.1em 0.1em 2px black);
}

#bar footer {
  margin-top: 3em;
  background-color: #101010;
  padding: 2em 0;
}

#bar footer p {
  text-align: center;
  font-size: .7em;
  margin: 0;
}

#bar #about .info-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

#bar #about .info-wrapper .poster {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 40%;
}

#bar #about .info-wrapper .poster img {
  width: 100%;
  height: auto;
}

#bar #about .info-wrapper .text {
  margin-left: 2em;
  width: 60%;
}

#bar #about .info-wrapper .text h3 {
  margin: 2em 0 1em 0;
  position: relative;
  padding: 1em 2em .25em 1em;
  border-bottom: 6px solid #3d3d3d;
}

#bar #about .info-wrapper .text h3:before {
  position: absolute;
  bottom: -6px;
  left: 0;
  width: 20%;
  height: 6px;
  content: '';
  background: #1b6900;
}

#bar #about .info-wrapper .text h3:nth-child(1) {
  margin-top: 0;
}

#bar #about .info-wrapper .twitter-wrapper {
  width: auto;
  height: 20em;
  max-width: 50%;
  max-height: 20em;
}

#bar #archives a {
  color: #e0d7ca;
  text-decoration: none;
}

#bar #archives .socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 3em;
}

#bar #archives .socials div {
  width: 3em;
  height: 3em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 1.5em;
  -webkit-transition: width .5s;
  transition: width .5s;
}

#bar #archives .socials div p {
  color: white;
  letter-spacing: .075em;
  margin-left: 1em;
  opacity: 0;
  -webkit-transition-delay: opacity .5s;
          transition-delay: opacity .5s;
}

#bar #archives .socials div img {
  margin-left: 29%;
  width: 1.3em;
  height: 1.3em;
}

#bar #archives .socials div:hover {
  width: 10em;
}

#bar #archives .socials div:hover p {
  -webkit-transition: opacity .5s;
  transition: opacity .5s;
  -webkit-transition-delay: .5s;
          transition-delay: .5s;
  margin-left: 1em;
  opacity: 1;
  display: inline-block;
}

#bar #archives .socials div:hover img {
  margin-left: 17%;
}

#bar #archives .socials .Twitter {
  background-color: #1D9BF0;
}

#bar #archives .socials .Twitch {
  background-color: #9146FF;
}

#bar #archives .socials .YouTube {
  background-color: #FF0000;
}

#bar #archives .socials .YouTube:hover {
  width: 12em;
}

#bar #events .event {
  margin: 3em auto;
  padding: 2em 1em 2em 1em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 2em;
  background-color: #0F0F0F;
}

#bar #events .event h3 {
  margin: 0;
  padding: 0;
  font-size: 1.75em;
}

#bar #events .event .event-sub {
  margin: 0;
  padding: 0;
  color: #3da561;
  font-size: 1em;
  font-family: 'Play';
}

#bar #events .event:nth-child(odd) {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

#bar #events dt {
  max-width: 60%;
}

#bar #events dd {
  max-width: 40%;
}

#bar #staff .staff-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 1em;
}

#bar #staff .staff-wrapper .staff {
  width: calc(33% - 3em);
  background-color: #0F0F0F;
  padding: 1em;
  -ms-flex-item-align: stretch;
      -ms-grid-row-align: stretch;
      align-self: stretch;
}

#bar #staff .staff-wrapper .staff p {
  font-size: .85em;
}

#bar #staff .staff-wrapper .staff h3 {
  margin: 0 0 1em 0;
}

#bar #staff .staff-wrapper .staff .role {
  margin: 0;
  padding: 0;
  font-size: .75em;
}

#bar #staff .staff-wrapper .staff .mstr {
  color: #9146FF;
}

#bar #staff .staff-wrapper .staff .mng {
  color: orange;
}

#bar #staff .staff-wrapper .staff .hkr {
  color: #FF68D9;
}

#bar #attention .attention-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 2%;
}

#bar #attention .attention-wrapper div {
  width: 48%;
}

#bar #attention .attention-wrapper div ul li {
  margin-bottom: 1em;
}

#bar #attention .attention-wrapper div ul li span {
  margin: 0;
  padding: 0;
  font-size: .8em;
}

#bar #attention .attention-wrapper h3 {
  margin: 2em 0 1em 0;
  position: relative;
  padding: 1em 2em .25em 1em;
  border-bottom: 6px solid #3d3d3d;
}

#bar #attention .attention-wrapper h3:before {
  position: absolute;
  bottom: -6px;
  left: 0;
  width: 20%;
  height: 6px;
  content: '';
  background: #1b6900;
}

@media screen and (max-width: 1200px) {
  section {
    width: calc(100% - 2em);
  }
  #bar #staff .staff-wrapper .staff {
    width: 40%;
  }
  #bar #attention .attention-wrapper div {
    width: 100%;
  }
}

@media screen and (max-width: 900px) {
  #bar header h1 {
    font-size: 2.5em;
  }
  #bar h2 {
    font-size: 1.8em;
  }
  #bar #about .info-wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #bar #about .info-wrapper .poster {
    margin: 0 auto;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 80%;
  }
  #bar #about .info-wrapper .poster img {
    width: 100%;
    height: auto;
  }
  #bar #about .info-wrapper .text {
    margin: 0;
    width: 100%;
  }
  #bar #about .info-wrapper .text .twitter-wrapper {
    margin: 0 auto;
    width: auto;
    height: 30em;
    max-width: 75%;
    max-height: 30em;
  }
  #bar #events .event {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #bar #events .event h3 {
    font-size: 1.5em;
  }
  #bar #events .event .event-sub {
    font-size: .9em;
  }
  #bar #events .event dt,
  #bar #events .event dd {
    margin: 0;
    max-width: 100%;
  }
  #bar #events .event:nth-child(odd) {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media screen and (max-width: 700px) {
  #gnav .pc {
    display: none;
  }
  #gnav .mobile-gnav {
    display: block;
  }
  #gnav .mobile-gnav .top {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  #archives .socials {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #bar header h1 {
    font-size: 2em;
  }
  #bar h2 {
    font-size: 1.4em;
  }
  #bar #staff .staff-wrapper .staff {
    width: 100%;
  }
  #bar #staff .staff-wrapper .staff .pic {
    margin: 0 auto;
    width: auto;
    max-width: 40vh;
    max-height: 40vh;
  }
}

@media screen and (max-width: 500px) {
  html,
  body {
    font-size: 20px;
  }
}
/*# sourceMappingURL=style.css.map */