@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap");
:root {
  --background: #333333;
  --background-dark: #222222;
  --text: #CCCCCC;
  --accent: #38ba00;
  --accent-dark: #185000;
}

body,
figure,
figcaption,
html,
li,
ul {
  margin: 0;
  padding: 0;
}

html {
  background-color: var(--background);
  font-family: 'Noto Sans JP';
  letter-spacing: 0.125em;
  scroll-behavior: smooth;
}

body {
  position: relative;
  color: var(--text);
  font-family: 'Yu Gothic Medium';
  font-size: 16px;
  opacity: 0;
  -webkit-transition: opacity 1000ms;
  transition: opacity 1000ms;
}

a {
  color: inherit;
  text-decoration: none;
}

figure {
  width: 100%;
  height: auto;
}

img {
  width: 100%;
  max-width: 100%;
  max-height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

header figure {
  position: relative;
  aspect-ratio: calc(16/5);
}

header figure img#header-image {
  position: absolute;
  top: 0;
  left: 0;
}

header figure img#header-logo {
  position: absolute;
  bottom: 1em;
  left: 1em;
  width: auto;
  height: 35%;
  -o-object-fit: contain;
     object-fit: contain;
  -webkit-filter: drop-shadow(10px 10px 4px rgba(0, 0, 0, 0.6));
          filter: drop-shadow(10px 10px 4px rgba(0, 0, 0, 0.6));
}

footer {
  color: white;
  text-align: center;
  background-color: var(--background-dark);
  padding: 1em;
  margin-top: 2em;
}

#menu {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
  background-color: rgba(0, 0, 0, 0.2);
}

#menu h1 {
  font-size: 1.5em;
}

#menu figure {
  width: 3em;
  height: 3em;
}

#menu .__left {
  margin-left: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1em;
}

#menu .__right {
  margin-right: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1.25em;
}

#menu .__right ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: right;
      -ms-flex-pack: right;
          justify-content: right;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row;
          flex-flow: row;
  gap: 3em;
  list-style: none;
}

#menu .__right ul li {
  padding: 0 .5em;
  border-bottom: 2px solid rgba(0, 0, 0, 0);
  -webkit-transition: border-bottom 500ms;
  transition: border-bottom 500ms;
}

#menu .__right ul li:hover {
  border-bottom: 2px solid var(--accent);
}

.small {
  margin: 0 .5em;
  font-size: .75em;
}

.button-rounded {
  display: inline-block;
  padding: .5em 2em;
  border: 1px solid white;
  border-radius: 1.25em;
}

/**
 * ローディング画面
 */
#loading {
  width: 200px;
  height: 60px;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  opacity: 1.0;
  -webkit-transition: opacity 500ms;
  transition: opacity 500ms;
}

.circle {
  width: 20px;
  height: 20px;
  position: absolute;
  border-radius: 50%;
  background-color: #fff;
  left: 15%;
  -webkit-transform-origin: 50%;
          transform-origin: 50%;
  -webkit-animation: circle .5s alternate infinite ease;
          animation: circle .5s alternate infinite ease;
}

@-webkit-keyframes circle {
  0% {
    top: 60px;
    height: 5px;
    border-radius: 50px 50px 25px 25px;
    -webkit-transform: scaleX(1.7);
            transform: scaleX(1.7);
  }
  40% {
    height: 20px;
    border-radius: 50%;
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
  }
  100% {
    top: 0%;
  }
}

@keyframes circle {
  0% {
    top: 60px;
    height: 5px;
    border-radius: 50px 50px 25px 25px;
    -webkit-transform: scaleX(1.7);
            transform: scaleX(1.7);
  }
  40% {
    height: 20px;
    border-radius: 50%;
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
  }
  100% {
    top: 0%;
  }
}

.circle:nth-child(2) {
  left: 45%;
  -webkit-animation-delay: .2s;
          animation-delay: .2s;
}

.circle:nth-child(3) {
  left: auto;
  right: 15%;
  -webkit-animation-delay: .3s;
          animation-delay: .3s;
}

.shadow {
  width: 20px;
  height: 4px;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 62px;
  -webkit-transform-origin: 50%;
          transform-origin: 50%;
  z-index: -1;
  left: 15%;
  -webkit-filter: blur(1px);
          filter: blur(1px);
  -webkit-animation: shadow .5s alternate infinite ease;
          animation: shadow .5s alternate infinite ease;
}

@-webkit-keyframes shadow {
  0% {
    -webkit-transform: scaleX(1.5);
            transform: scaleX(1.5);
  }
  40% {
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
    opacity: .7;
  }
  100% {
    -webkit-transform: scaleX(0.2);
            transform: scaleX(0.2);
    opacity: .4;
  }
}

@keyframes shadow {
  0% {
    -webkit-transform: scaleX(1.5);
            transform: scaleX(1.5);
  }
  40% {
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
    opacity: .7;
  }
  100% {
    -webkit-transform: scaleX(0.2);
            transform: scaleX(0.2);
    opacity: .4;
  }
}

.shadow:nth-child(4) {
  left: 45%;
  -webkit-animation-delay: .2s;
          animation-delay: .2s;
}

.shadow:nth-child(5) {
  left: auto;
  right: 15%;
  -webkit-animation-delay: .3s;
          animation-delay: .3s;
}

.wrapper span {
  position: absolute;
  top: 75px;
  font-family: 'Lato';
  font-size: 20px;
  letter-spacing: 12px;
  color: #fff;
  left: 15%;
}
/*# sourceMappingURL=global.css.map */